.Text{
    display: flex;
    justify-content: space-between;
}
.Text>:nth-child(1){
    width: 377px;
height: 96px;

margin-left: 262px;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* or 120% */

text-transform: capitalize;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.check{
    margin-right: 262px;
}